Repository eclipse-che/che, pull requests merged in 2022-03, with the labels that each got.

#21180 Remove Keycloak references
  tests/e2e/driver/CheReporter.ts
  tests/e2e/index.ts
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/pageobjects/dashboard/Dashboard.ts
  tests/e2e/pageobjects/ide/Ide.ts
  tests/e2e/pageobjects/ide/ProjectTree.ts
  tests/e2e/tests/devfiles/DotNetCore.spec.ts
  tests/e2e/tests/devfiles/Go.spec.ts
  tests/e2e/tests/e2e_happy_path/DevWorkspaceHappyPath.spec.ts
  tests/e2e/tests/plugins/GitHubPullRequestPlugin.spec.ts
  tests/e2e/testsLibrary/LanguageServerTests.ts
  tests/e2e/testsLibrary/WorkspaceHandlingTests.ts
  tests/e2e/utils/KeycloackUrlHandler.ts
  tests/e2e/utils/requestHandlers/headers/CheMultiuserAuthorizationHeaderHandler.ts
  tests/e2e/utils/requestHandlers/tokens/CheMultiuserTokenHandler.ts
Labels: status/code-review, target/branch

#21179 fixing tslint warnings
  tests/e2e/tests/e2e/OpenshiftConnector.spec.ts
  tests/e2e/tests/plugins/VscodeYamlPlugin.spec.ts
  tests/e2e/tsconfig.json
  tests/e2e/tslint.json
Labels: kind/bug, status/code-review, target/branch

#21242 compilation error fix
  tests/e2e/pageobjects/ide/Ide.ts
  tests/e2e/tests/plugins/VscodeYamlPlugin.spec.ts
  tests/e2e/testsLibrary/WorkspaceHandlingTests.ts
Labels: kind/bug, status/code-review, target/branch

#21247 Adapt typescript factories test to be run against Eclipse Che with DW enabled by default
  tests/e2e/mocha-all-factories.json
  tests/e2e/tests/e2e/factories/DirectUrlFactoryWithKeepDirectoryTest.spec.ts
  tests/e2e/tests/e2e/factories/DirectUrlFactoryWithRootFolderTest.spec.ts
  tests/e2e/tests/e2e/factories/DirectUrlFactoryWithSpecificBranchTest.spec.ts
Labels: status/code-review, kind/task, target/branch, team/che-qe, area/qe

#21248 Dev workspace Happy Path spec file fix
  tests/e2e/README.md
  tests/e2e/tests/e2e_happy_path/DevWorkspaceHappyPath.spec.ts
Labels: kind/bug, status/code-review, target/branch

#21269 Remove iframe code in automation testing
  tests/e2e/pageobjects/dashboard/workspace-details/WorkspaceDetails.ts
  tests/e2e/pageobjects/ide/Ide.ts
  tests/e2e/pageobjects/ide/PreviewWidget.ts
  tests/e2e/pageobjects/ide/ProjectTree.ts
  tests/e2e/tests/e2e_happy_path/DevWorkspaceHappyPath.spec.ts
  tests/e2e/tests/plugins/JavaPlugin.spec.ts
  tests/e2e/tests/plugins/PythonPlugin.spec.ts
  tests/e2e/testsLibrary/CodeExecutionTests.ts
  tests/e2e/testsLibrary/LanguageServerTests.ts
  tests/e2e/testsLibrary/ProjectAndFileTests.ts
Labels: status/code-review, target/branch

#21281 Typescript plugin script fix
  tests/e2e/pageobjects/dashboard/Dashboard.ts
Labels: kind/bug, status/code-review, target/branch
